{% extends 'SiteRisingAionBundle:AionViews:index.html.twig' %}

{% block newPassword %}			
<article class="content">
    <div class="page-title">Square de récupération de mot de passe.</div>
    <div class="img-page">
        <div class="r-cadre-infos">
            <div class="c-title">Réinitialisation du mot de passe.</div>
            <div class="c-desc">         
                Merci de remplir les champs ci-dessous.
            </div>
        </div>
        <section class="p-cont">									
            <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" > 
                <span class="register-label-title">{{form_label(form.new.first) }}</span><br/>
                <div class="r-input">
                        {{form_widget(form.new.first, {'attr': {'class' : 'inner-register-input', 'placeholder' : 'Votre nouveau mot de passe...', 'maxlenght' : '23'}})}}
                        {{form_errors(form.new.first) }}
                </div>
                <span class="register-label-title">{{form_label(form.new.second) }}</span><br/>
                <div class="r-input">
                        {{form_widget(form.new.second, {'attr': {'class' : 'inner-register-input', 'placeholder' : 'Confirmer le mot de passe...', 'maxlenght' : '23'}})}}
                        {{form_errors(form.new.second) }}
                </div>
                <div>
                    <input class="register-process" type="submit" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" />
                </div>
            </form>
        </section>
    </div>

</article><!-- end .content -->
{% endblock %}